body {
    font-size: 12px;
    font-family: monospace, arial, sans-serif;
}

#messages {
	margin-top: 12px;
}

.error {
	color: #bb3333;
}

.status {
	color: #aaaaaa;
}

.success {
	color: #33bb33;
}